In [140]:
import pandas as pd
import numpy as np
import random

df_fiscality = pd.read_csv('df_fiscality.csv')

df_credit_rate = pd.read_csv('credit_rate.csv')

df_MA_temp = pd.read_csv('df_MA_clean.csv')

In [141]:
df_MA_clean = df_MA_temp.drop(columns=['Taux_Global_TFB'])

In [142]:
# clean data df_MA
# the primary key need to be 'Code_insee'
df_MA_clean.nunique()

ville                    1315
prix_appartement          858
min_appartement           789
max_appartement           984
prix_maison               929
min_maison                692
max_maison                997
loyer_appartement          62
loyer_min_appartement      64
loyer_max_appartement     129
loyer_maison               81
loyer_min_maison           72
loyer_max_maison          106
Code_insee               1325
Code_postal               288
Departement                 5
geo                      1323
dtype: int64

In [143]:
df_MA_clean.nunique()

ville                    1315
prix_appartement          858
min_appartement           789
max_appartement           984
prix_maison               929
min_maison                692
max_maison                997
loyer_appartement          62
loyer_min_appartement      64
loyer_max_appartement     129
loyer_maison               81
loyer_min_maison           72
loyer_max_maison          106
Code_insee               1325
Code_postal               288
Departement                 5
geo                      1323
dtype: int64

In [144]:
# check if null values
df_MA_clean.isnull().sum().sort_values(ascending=False).head(6)

loyer_appartement        29
loyer_max_appartement    29
loyer_min_appartement    29
ville                     0
prix_appartement          0
prix_maison               0
dtype: int64

In [145]:
mask = df_MA_clean['loyer_maison'].isna()

if mask.any(): 
    df_MA_clean.loc[mask, 'loyer_maison'] = df_MA_clean.loc[mask, 'loyer_appartement']
    df_MA_clean.loc[mask, 'loyer_appartement'] = np.nan
    
    df_MA_clean.loc[mask, 'loyer_min_maison'] = df_MA_clean.loc[mask, 'loyer_min_appartement']
    df_MA_clean.loc[mask, 'loyer_min_appartement'] = np.nan
    
    df_MA_clean.loc[mask, 'loyer_max_maison'] = df_MA_clean.loc[mask, 'loyer_max_appartement']
    df_MA_clean.loc[mask, 'loyer_max_appartement'] = np.nan

In [146]:
df_MA_clean.isnull().sum().sort_values(ascending=False).head(6)

loyer_appartement        29
loyer_max_appartement    29
loyer_min_appartement    29
ville                     0
prix_appartement          0
prix_maison               0
dtype: int64

In [147]:
# Clean data df_fiscality
# The only null values is the values we will not use
df_fiscality.isnull().sum().sort_values(ascending=False).head(5)

THSURTAXRSTAU      137537
Taux_Plein_TEOM     41419
OPTEPCI                16
Q03                    16
SIREPCI                16
dtype: int64

In [148]:
# Primary key is 'Unnamed: 0' but join key will be 'INSEE COM'
df_fiscality.nunique()

Unnamed: 0          139794
EXERCICE                 4
REG                     18
LIBREG                  18
DEP                    101
LIBDEP                 101
COM                    908
LIBCOM               32941
SIREPCI               1259
OPTEPCI                  3
Q03                   1313
MPOID                11677
B12VOTE              11147
B22                   2005
B32VOTE               1145
B12TAFNB                60
B32TAFNB               179
B32MGPTAFNB              7
B52                    130
B52A                    15
B52gGEMAPI            1093
Taux_Global_TFNB     21455
E12VOTE               4581
E22                   1977
E32VOTE                846
E52                    125
E52A                    15
E52TASA                  4
E52gGEMAPI             998
Taux_Global_TFB       5650
Taux_Plein_TEOM       1959
H12VOTE               2837
H22                   1793
H32VOTE                945
H52                    120
H52A                    15
H52gGEMAPI            1034
Taux_Global_TH        3752
IND_MAJOTHRS             2
THSURTAXRSTAU           44
INSEE COM            34967
dtype: int64

In [149]:
df_fiscality_2024 = df_fiscality[df_fiscality['EXERCICE'] == 2024]
df_fiscality_clean = df_fiscality_2024[['Taux_Global_TFB', 'INSEE COM']]
df_fiscality_clean

        Taux_Global_TFB INSEE COM
20                38.39     59554
21                41.97     60333
22                65.12     60699
23                43.69     61113
24                47.29     61121
...                 ...       ...
139738            66.95     82108
139739            27.48     83065
139740            35.58     88453
139741            36.95     91272
139742            26.94     57064

[34934 rows x 2 columns]

In [150]:
# join DF on 'Code_insee' and 'INSEE COM'
df_MA_clean['Code_insee'] = df_MA_clean['Code_insee'].astype(str)
df_fiscality_clean['INSEE COM'] = df_fiscality_clean['INSEE COM'].astype(str)

df_merged = df_MA_clean.merge(df_fiscality_clean, how='left', left_on='Code_insee', right_on='INSEE COM')
df_merged.head()

C:\Users\vince\AppData\Local\Temp\ipykernel_22576\4005390490.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscality_clean['INSEE COM'] = df_fiscality_clean['INSEE COM'].astype(str)

,ville,prix_appartement,min_appartement,max_appartement,prix_maison,min_maison,max_maison,loyer_appartement,loyer_min_appartement,loyer_max_appartement,loyer_maison,loyer_min_maison,loyer_max_maison,Code_insee,Code_postal,Departement,geo,Taux_Global_TFB,INSEE COM
0,Abbaretz,1715,1006,2836,1704,682,2935,12.0,8.3,19.7,11.7,7.6,15.0,44001,44170,Loire-Atlantique,"Abbaretz, Loire-Atlantique, France",34.89,44001
1,Aigrefeuille-sur-Maine,2704,1673,3682,2630,1052,3875,13.0,9.6,17.0,12.7,8.8,15.5,44002,44140,Loire-Atlantique,"Aigrefeuille-sur-Maine, Loire-Atlantique, France",39.36,44002
2,Ancenis,2965,1629,4876,2730,1230,4376,11.8,7.9,19.5,12.4,8.0,16.3,44003,44150,Loire-Atlantique,"Ancenis, Loire-Atlantique, France",37.71,44003
3,Chaumes-en-Retz,2533,1474,3650,2412,965,3581,13.5,9.4,21.2,12.5,8.9,15.6,44005,44320,Loire-Atlantique,"Chaumes-en-Retz, Loire-Atlantique, France",40.45,44005
4,Assérac,3284,1941,4466,2964,1185,5731,11.4,7.5,16.3,12.8,7.8,16.1,44006,44410,Loire-Atlantique,"Assérac, Loire-Atlantique, France",41.05,44006

In [151]:
df_merged_clean = df_merged[['ville','prix_appartement','min_appartement','max_appartement','prix_maison','min_maison','max_maison','loyer_appartement','loyer_min_appartement','loyer_max_appartement','loyer_maison','loyer_min_maison','loyer_max_maison','Taux_Global_TFB','Code_insee','Departement','geo']]
df_merged_clean['Taux_Global_TFB'] = df_merged_clean['Taux_Global_TFB'] / 100
df_merged_clean.head()

C:\Users\vince\AppData\Local\Temp\ipykernel_22576\3150072800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged_clean['Taux_Global_TFB'] = df_merged_clean['Taux_Global_TFB'] / 100

,ville,prix_appartement,min_appartement,max_appartement,prix_maison,min_maison,max_maison,loyer_appartement,loyer_min_appartement,loyer_max_appartement,loyer_maison,loyer_min_maison,loyer_max_maison,Taux_Global_TFB,Code_insee,Departement,geo
0,Abbaretz,1715,1006,2836,1704,682,2935,12.0,8.3,19.7,11.7,7.6,15.0,0.3489,44001,Loire-Atlantique,"Abbaretz, Loire-Atlantique, France"
1,Aigrefeuille-sur-Maine,2704,1673,3682,2630,1052,3875,13.0,9.6,17.0,12.7,8.8,15.5,0.3936,44002,Loire-Atlantique,"Aigrefeuille-sur-Maine, Loire-Atlantique, France"
2,Ancenis,2965,1629,4876,2730,1230,4376,11.8,7.9,19.5,12.4,8.0,16.3,0.3771,44003,Loire-Atlantique,"Ancenis, Loire-Atlantique, France"
3,Chaumes-en-Retz,2533,1474,3650,2412,965,3581,13.5,9.4,21.2,12.5,8.9,15.6,0.4045,44005,Loire-Atlantique,"Chaumes-en-Retz, Loire-Atlantique, France"
4,Assérac,3284,1941,4466,2964,1185,5731,11.4,7.5,16.3,12.8,7.8,16.1,0.4105,44006,Loire-Atlantique,"Assérac, Loire-Atlantique, France"

In [152]:
# example df for calculation
df_calcul = df_merged_clean.copy()

In [153]:
# nb fixe
df_calcul['nb_m2'] = 50
df_calcul['nb_mois'] = 12
df_calcul['assurance_pno_annuel'] = 300
df_calcul['frais_agence_%'] = 0.05
df_calcul['frais_notaire_%'] = 0.08
df_calcul['garantie_loyer_impaye'] = 0.03
df_calcul['compta_annuelle'] = 600
df_calcul['prevision_entretien_annuel'] = 2000
df_calcul['prevision_gros_oeuvre_annuel'] = 50000
df_calcul['taux_occupation'] = 0.95

# nb variable
df_calcul['loyer_mensuel_appart'] = df_calcul['loyer_appartement'] * df_calcul['nb_m2'] * df_calcul['taux_occupation']
df_calcul['loyer_mensuel_maison'] = df_calcul['loyer_maison'] * df_calcul['nb_m2'] * df_calcul['taux_occupation']
df_calcul['loyer_annuel_appart'] = df_calcul['loyer_mensuel_appart'] * df_calcul['nb_mois']
df_calcul['loyer_annuel_maison'] = df_calcul['loyer_mensuel_maison'] * df_calcul['nb_mois']
df_calcul['garantie_loyer_impaye_annuel_appart'] = df_calcul['garantie_loyer_impaye'] * df_calcul['loyer_annuel_appart']
df_calcul['garantie_loyer_impaye_annuel_maison'] = df_calcul['garantie_loyer_impaye'] * df_calcul['loyer_annuel_maison']
df_calcul['prix_net_vendeur_appart'] = df_calcul['prix_appartement'] * df_calcul['nb_m2']
df_calcul['prix_net_vendeur_maison'] = df_calcul['prix_maison'] * df_calcul['nb_m2']
df_calcul['frais_agence_maison'] = df_calcul['frais_agence_%'] * df_calcul['prix_net_vendeur_maison'] 
df_calcul['frais_agence_appart'] = df_calcul['frais_agence_%'] * df_calcul['prix_net_vendeur_appart'] 
df_calcul['frais_notaire_maison'] = df_calcul['frais_notaire_%'] * df_calcul['prix_net_vendeur_maison'] 
df_calcul['frais_notaire_appart'] = df_calcul['frais_notaire_%'] * df_calcul['prix_net_vendeur_appart'] 
df_calcul['prevision_entretien_annuel_appart'] = df_calcul['loyer_annuel_appart'] * 0.02
df_calcul['prevision_entretien_annuel_maison'] = df_calcul['loyer_annuel_maison'] * 0.02
df_calcul['prevision_gros_oeuvre_annuel_appart'] = df_calcul['prix_net_vendeur_appart']  * 0.005
df_calcul['prevision_gros_oeuvre_annuel_maison'] = df_calcul['prix_net_vendeur_maison'] * 0.005
df_calcul['valeur_cadastrale_locative_appart'] = df_calcul['loyer_annuel_appart'] / 2.5
df_calcul['valeur_cadastrale_locative_maison'] = df_calcul['loyer_annuel_maison'] / 2.5
df_calcul['TFPB_annuel_appart'] = df_calcul['valeur_cadastrale_locative_appart'] * df_calcul['Taux_Global_TFB'] / 100
df_calcul['TFPB_annuel_maison'] = df_calcul['valeur_cadastrale_locative_maison'] * df_calcul['Taux_Global_TFB'] / 100
df_calcul['charges_copro_annuel'] = 50
df_calcul['assurance_habitation_annuel'] = 0
df_calcul['frais_gestion_loc_annuel'] = 200
df_calcul['prix_achat_total_appart'] = df_calcul['prix_net_vendeur_appart'] + df_calcul['frais_agence_appart'] + df_calcul['frais_notaire_appart']
df_calcul['prix_achat_total_maison'] = df_calcul['prix_net_vendeur_maison'] + df_calcul['frais_agence_maison'] + df_calcul['frais_notaire_maison']
df_calcul['renta_brute_appart'] = df_calcul['loyer_annuel_appart'] / df_calcul['prix_achat_total_appart']
df_calcul['renta_brute_maison'] = df_calcul['loyer_annuel_maison'] / df_calcul['prix_achat_total_maison']
df_calcul['charges_annuelles_appart'] = df_calcul['assurance_pno_annuel'] + df_calcul['garantie_loyer_impaye_annuel_appart'] + df_calcul['TFPB_annuel_appart'] + df_calcul['charges_copro_annuel'] + df_calcul['assurance_habitation_annuel'] + df_calcul['frais_gestion_loc_annuel'] 
df_calcul['charges_annuelles_maison'] = df_calcul['assurance_pno_annuel'] + df_calcul['garantie_loyer_impaye_annuel_maison'] + df_calcul['TFPB_annuel_maison'] + df_calcul['charges_copro_annuel'] + df_calcul['assurance_habitation_annuel'] + df_calcul['frais_gestion_loc_annuel'] 
df_calcul['renta_nette_appart'] = (df_calcul['loyer_annuel_appart'] - df_calcul['charges_annuelles_appart']) / df_calcul['prix_achat_total_appart']
df_calcul['renta_nette_maison'] = (df_calcul['loyer_annuel_maison'] - df_calcul['charges_annuelles_maison']) / df_calcul['prix_achat_total_maison']

In [154]:
df_calcul.to_csv('example_df_MA_calcul.csv',index=False)

In [155]:
mask_dep44 = (df_merged_clean['Departement'] == 'Loire-Atlantique')
mask_dep85 = (df_merged_clean['Departement'] == 'Vendée')
mask_dep49 = (df_merged_clean['Departement'] == 'Maine-et-Loire')
mask_dep53 = (df_merged_clean['Departement'] == 'Mayenne')
mask_dep72 = (df_merged_clean['Departement'] == 'Sarthe')

In [156]:
if (df_merged_clean.loc[mask_dep44, 'Taux_Global_TFB'].isna().any()):
    mean_value = df_merged_clean.loc[mask_dep44, 'Taux_Global_TFB'].mean()
    df_merged_clean.loc[mask_dep44 & df_merged_clean['Taux_Global_TFB'].isna(), 'Taux_Global_TFB'] = mean_value

if (df_merged_clean.loc[mask_dep85, 'Taux_Global_TFB'].isna().any()):
    mean_value = df_merged_clean.loc[mask_dep85, 'Taux_Global_TFB'].mean()
    df_merged_clean.loc[mask_dep85 & df_merged_clean['Taux_Global_TFB'].isna(), 'Taux_Global_TFB'] = mean_value

if (df_merged_clean.loc[mask_dep49, 'Taux_Global_TFB'].isna().any()):
    mean_value = df_merged_clean.loc[mask_dep49, 'Taux_Global_TFB'].mean()
    df_merged_clean.loc[mask_dep49 & df_merged_clean['Taux_Global_TFB'].isna(), 'Taux_Global_TFB'] = mean_value

if (df_merged_clean.loc[mask_dep53, 'Taux_Global_TFB'].isna().any()):
    mean_value = df_merged_clean.loc[mask_dep53, 'Taux_Global_TFB'].mean()
    df_merged_clean.loc[mask_dep53 & df_merged_clean['Taux_Global_TFB'].isna(), 'Taux_Global_TFB'] = mean_value

if (df_merged_clean.loc[mask_dep72, 'Taux_Global_TFB'].isna().any()):
    mean_value = df_merged_clean.loc[mask_dep72, 'Taux_Global_TFB'].mean()
    df_merged_clean.loc[mask_dep72 & df_merged_clean['Taux_Global_TFB'].isna(), 'Taux_Global_TFB'] = mean_value

In [157]:
df_merged_clean.to_csv('df_MA_calcul.csv',index=False)