In [2]:
import pandas as pd
import numpy as np

In [50]:
df_data_villes = pd.read_csv("villes_cp.csv", 
                             delimiter=";",
                             encoding="latin1")

In [51]:
#permet d'avoir 5 caractères dans tous les cas donc 4400 --> 04400
df_data_villes['Code_postal'] = df_data_villes['Code_postal'].astype(str).str.zfill(5)

In [ ]:
#Création de la colonne pour le scrapping de Meilleur Agent
df_data_villes['Lib_MA'] = df_data_villes['Ligne_5'].fillna(df_data_villes['Nom_de_la_commune'])

In [ ]:
# remplace les majuscule par des minuscule et remplacer les espaces par des "-"
df_data_villes['Nom_de_la_commune_url'] = df_data_villes['Lib_MA'].str.lower().str.replace(" ", "-", regex=False) 

# remplacer les st par saint
df_data_villes['Nom_de_la_commune_url'] = df_data_villes['Nom_de_la_commune_url'].str.replace(r'^st', 'saint', case=False, regex=True)

#Création de la colonne url
df_data_villes['url'] = ("https://www.meilleursagents.com/prix-immobilier/" + df_data_villes['Nom_de_la_commune_url'] + "-" + df_data_villes['Code_postal'].astype(str) + "/")

#Je ne garde que les départements de la métropole
df_data_villes_clean = df_data_villes[df_data_villes['Code_postal'] < '96000']

#je supprime les colonnes inutiles
df_data_villes_clean = df_data_villes_clean[['#Code_commune_INSEE','Lib_MA','Code_postal','Nom_de_la_commune_url','url']]

In [68]:
#Test
df_data_villes_clean.head()

,#Code_commune_INSEE,Lib_MA,Code_postal,Nom_de_la_commune_url,url
0,01001,L ABERGEMENT CLEMENCIAT,01400,l-abergement-clemenciat,https://www.meilleursagents.com/prix-immobilie...
1,01002,L ABERGEMENT DE VAREY,01640,l-abergement-de-varey,https://www.meilleursagents.com/prix-immobilie...
2,01004,AMBERIEU EN BUGEY,01500,amberieu-en-bugey,https://www.meilleursagents.com/prix-immobilie...
3,01005,AMBERIEUX EN DOMBES,01330,amberieux-en-dombes,https://www.meilleursagents.com/prix-immobilie...
4,01006,AMBLEON,01300,ambleon,https://www.meilleursagents.com/prix-immobilie...

In [69]:
#Ici on enregistre le nouveau df en entier
df_data_villes_clean.to_csv('villes_cp_clean.csv')

In [70]:
#Ici on divise et enregistre le nouveau df en 15
number_of_chunks = 15
for i, chunk in enumerate(np.array_split(df_data_villes_clean, number_of_chunks)):
    chunk.to_csv(f'output_{i+1}.csv')

c:\Users\USER\miniconda3\envs\selenium_env1\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)